.root {
  height: 100%;
  width: 100%;
  position: relative;
}

.terminalContainer {
  height: 100%;
  width: 100%;
  background-color: $dark-bg-primary;
}

.scrollHandle {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3rem;
  pointer-events: auto;
  @include flex-center;
  z-index: 10;
}

.scrollDots {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  pointer-events: none;
}

.textOverlay {
  position: absolute;
  inset: 0;
  overflow: auto;
  z-index: 30;
}
