.diffViewWrapper {
  min-height: 100vh;
  background-color: $dark-bg-primary;
  // 画面下部固定の RepositorySwitcher 分の余白
  padding-bottom: 3rem;

  // モバイルでは RepositorySwitcher が画面上部固定になる
  @include sm-down {
    padding-bottom: 0;
    padding-top: 3rem;
  }
}
